.column-container{
  display: flex;
  flex-direction: column;
}

.filterable-table{
  margin: 10px;
  max-width: 300px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 5px;
}

.center-content{
  display: flex;
  justify-content: center;
}